/* Full-page background */
body {
  margin: 0;
  min-height: 100vh;
  background-image: url("beigeBG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Hero section that fills the viewport */
.hero {
  min-height: 100vh; /* Full window height */
  display: flex; /* Flex container */
  align-items: center; /* Vertical centering */
}

/* Left column text */
.hero-text {
  text-align: left; /* left align text */
}

/* Optional: spacing between navbar links */
.navbar-nav .nav-link {
  margin-left: 1rem;
}

.btn-primary {
  background-color: #708238;
  border-color: #708238;
}

.main-header {
  font-size: 10rem;
  font-family: "Inter", sans-serif;
  font-weight: 900;
}
